accelerate==0.28.0
bitsandbytes==0.43.0
diffusers==0.25.0
imageio==2.34.0
numpy==1.24.2
openai-clip==1.0.1
openpyxl==3.1.2
pandas==2.0.3
piq==0.8.0
scikit-image==0.21.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.2
tqdm 
transformers==4.29.2

